In [32]:
import pandas as pd
import seaborn as sns
import matplotlib.pylab as plt
df = pd.read_csv("../nas.csv")
#df.info()
mydata = df[["Father.edu", "Science.."]].dropna(how="any")
# Now plot with matplotlib
vals = mydata.values
#plt.scatter(vals[:, 0], vals[:, 1])

In [60]:
import pandas as pd
df = pd.read_csv("../grades.csv")

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   submission   198 non-null    object
 1   submit_time  198 non-null    object
dtypes: object(2)
memory usage: 1.6+ KB

In [62]:
mydata = df["submission"].dropna(how="any")

In [67]:
#df["submission"]=df["submission"].str.split(".",expand=True)
df = df.submission.apply(lambda x: pd.Series(str(x).split(".")))

In [68]:
df.head(5)

             0       1                                                  2    3
0  https://ckd  upgrad  com/UpGrad/73ba5189-94fd-44aa-88d3-6b36aaa69b0...  zip
1  https://ckd  upgrad  com/UpGrad/185242ff-7508-4cc4-afa3-5865733ba1d...  zip
2  https://ckd  upgrad  com/UpGrad/a353d129-c100-4342-aa95-a7018ff9315...  zip
3  https://ckd  upgrad  com/UpGrad/002fc912-faa1-4948-9358-fcdabfd7669...  zip
4  https://ckd  upgrad  com/UpGrad/25cbc4a4-6d49-4ffa-9bf1-06bdb1a7cf8...  zip

In [76]:
df[3].count()

198

In [79]:
df[3].value_counts()

zip    189
R        7
7z       2
Name: 3, dtype: int64